/* 
    CSS Guide 

    1.  General Styles (Normalize)
    2. Flexbox Items 
    3. Header
    4. Hero slider
    5. contact Us

 */


/* 1. ---General Styles--- */

body {
    margin: 0px;
    padding: 0px;
    background-color: #E3DDCF;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input,
textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2,
section h3,
section p {
    padding-left: 15px;
}

.title {
    font-family: "goldich", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* ---End of General Styles--- */

/* 2. Flexbox Items */


.hero-img img {
    width: 100%;
}

.flex-container-header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexbox-header {
    padding: 2px;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}

.flex-container-footer-mobile {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.flexbox-footer-mobile {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    text-align: center;
    width: 120px;
    margin-top: 220px;
}

.flex-container-footer-m-l-xl {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexbox-footer-m-l-xl {
    color: #E3DDCF;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    text-align: left;
}

/* ---End of Flexbox Items--- */

/* 3. ---Header--- */

header {
    background-color: #0A284B;
    font-size: 18px;

}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #0A284B;
}

.itens {
    color: #E3DDCF;
    text-decoration: none;
    font-family: "goldich", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.icons-space {
    margin-right: 10px;
}

.icons {
    color: #E3DDCF;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* ---End of Header--- */

/* 4. ---Hero slider--- */
.flavors-color {
    background-color: #E1E1E1;
    padding: 20px;
}

/* ---End of Hero slider--- */

/* 5. ---Contact Us--- */


label {
    text-align: left;
}

/* Id Styles */

#contact-form {
    background-color: #E3DDCF;
    margin: 80px 0 80px 0;
}

#contact-text h3 {
    font-size: 38px;
    text-align: left;
    color: #0A284B;
    margin: 40px 0 0 40px;
}

#contact-text p {
    margin: 20px 0 0 40px;
    font-size: 28px;
}

#contact-us input,
textarea {
    color: #0A284B;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #E3DDCF;
    box-sizing: border-box;
    font: inherit;
    font-size: 14px;
}

#contact-us input[type=submit] {
    width: 100%;
    background-color: #0A284B;
    color: #E3DDCF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;

    cursor: pointer;
}

#contact-us input[type=submit]:hover {
    background-color: #103f74;
}

/* Class Styles */

.contact-text-style {
    color: #0A284B;
    text-align: left;
    margin: 0;
}

.contact-us-style {
    background-color: #E3DDCF;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 1.95px 1.95px 2.6px;
}


/* ---End of Hero slider--- */